<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="REST API for consumption of styles and fonts in css3">
    <meta name="keywords" content="CSS3,API,REST,API REST,Cascading Stylesheets,Interface CSS,tips CSS3,tricks CSS3,fonts">
    <meta name="author" content="Thalyson Alexandre Rodrigues de Sousa">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    <header class="app-header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button id="menu" type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Brand -->
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <img id="brand" src="{{ asset('build/images/icon-menu.8b6dad0c.png') }}" alt="logo">
                    </a>
                </div>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="{{ path('versions') }}" class="nav-link" title="Versions">
                                <i class="fas fa-code-branch"></i>
                                <span class="label-menu"> Versions</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('api.ping') }}" class="nav-link" title="Ping Test">
                                <i class="fas fa-wifi"></i>
                                <span class="label-menu"> Ping Test</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/thalysonrodrigues/freestylesheets" class="nav-link" target="_blank" title="Contribute">
                                <i class="fab fa-github"></i>
                                <span class="label-menu"> Contribute</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('contact') }}" class="nav-link" title="Contact">
                                <i class="fas fa-at"></i>
                                <span class="label-menu"> Contact</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('about') }}" class="nav-link" title="About">
                                <i class="fas fa-info"></i>
                                <span class="label-menu"> About</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="app-content">
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="app-footer">
        <div class="container">
            <hr>
            {% block footer %}
                <p>
                    &copy; {{ "now"|date("Y") }} by Thalyson Rodrigues. All rights reserved.
                </p>
            {% endblock %}
        </div>
    </footer>

    <script type="text/javascript" src="{{ asset('build/css/app.js') }}"></script>
</body>
</html>
