{% extends '@layout/index.html.twig' %}

{% block title %}All stylesheets{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/bootstrap.css') }}">
{% endblock %}

{% block content %}
    {% if style is defined %}
        <table class="table table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ style.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ style.name }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ style.description }}</td>
                </tr>
                <tr>
                    <td>Style</td>
                    <td>{{ style.style }}</td>
                </tr>
                <tr>
                    <td>Created at</td>
                    <td>{{ style.createdAt }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ style.status }}</td>
                </tr>
                <tr>
                    <td>ID author</td>
                    <td>{{ style.author.id }}</td>
                </tr>
                <tr>
                    <td>Name author</td>
                    <td>{{ style.author.name }}</td>
                </tr>
                <tr>
                    <td>Email author</td>
                    <td>{{ style.author.email }}</td>
                </tr>
                {% if style.tag != null %}
                    <tr>
                        <td>ID tag</td>
                        <td>{{ style.tag.id }}</td>
                    </tr>
                    <tr>
                        <td>Element tag</td>
                        <td>{{ style.tag.element }}</td>
                    </tr>
                    <tr>
                        <td>Description tag</td>
                        <td>{{ style.tag.description }}</td>
                    </tr>
                    <tr>
                        <td>ID category</td>
                        <td>{{ style.tag.category.id }}</td>
                    </tr>
                    <tr>
                        <td>Name category</td>
                        <td>{{ style.tag.category.name }}</td>
                    </tr>
                    <tr>
                        <td>Description category</td>
                        <td>{{ style.tag.category.description }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
