{% extends '@layout/index.html.twig' %}

{% block title %}List data of user{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/bootstrap.css') }}">
{% endblock %}

{% block content %}
    {% if user is defined %}
        <table class="table table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td title="{{ user.password }}">*****</td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td>{{ user.admin == 1 ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <td>Created At</td>
                    <td>{{ user.createdAt }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ user.status == 1 ? 'Active' : 'Inactive' }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
