{% extends '@layout/index.html.twig' %}

{% block title %}List data of user{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/bootstrap.css') }}">
{% endblock %}

{% block content %}
    {% if user is defined %}
        <ul>
            <li>ID: <span>{{ user.id }}</span></li>
            <li>Name: <span>{{ user.name }}</span></li>
            <li>Email: <span>{{ user.email }}</span></li>
            <li>Password: <span>{{ user.password }}</span></li>
            <li>Admin: <span>{{ user.admin == 1 ? 'Yes' : 'No' }}</span></li>
            <li>Created At: <span>{{ user.createdAt }}</span></li>
            <li>Status: <span>{{ user.status == 1 ? 'Active' : 'Inactive' }}</span></li>
        </ul>
    {% endif %}
{% endblock %}
