{% extends '@layout/index.html.twig' %}

{% block title %}All users{% endblock %}

{% block content %}
    {% if users is defined %}
        <table>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Admin
                    </th>
                    <th>
                        Created at
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.name }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.password }}
                        </td>
                        <td>
                            {{ user.admin }}
                        </td>
                        <td>
                            {{ user.createdAt }}
                        </td>
                        <td>
                            {{ user.status }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elseif user is defined %}
        <ul>
            <li>
                ID: <span>{{ user.id }}</span>
            </li>
            <li>
                Name: <span>{{ user.name }}</span>
            </li>
            <li>
                Email: <span>{{ user.email }}</span>
            </li>
            <li>
                Password: <span>{{ user.password }}</span>
            </li>
            <li>
                Admin: <span>{{ user.admin }}</span>
            </li>
            <li>
                Created At: <span>{{ user.createdAt }}</span>
            </li>
            <li>
                Status: <span>{{ user.status }}</span>
            </li>
        </ul>
    {% endif %}
{% endblock %}
